# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
build
**/build
coverage
**/coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Cache
.cache
*.tsbuildinfo

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Git
.git
.husky

